@font-face {
  font-family: 'Open Sans';
  src: url('font/OpenSans-Light.ttf') format('truetype');
}

.AppBar {
  background-color: #ff0000!important;
  color: #fff !important;
}

.Card {
  cursor: pointer;
}

.AppIconArea {
  font-size: 35px;
  margin-left: 20px;
}

.Icon {
  width: 90px;
  height: 78px;
  position: fixed;
  right: 0px;
  top:0px;
}

.MenuBox {
  float: right;
  margin-right: 112px;
  margin-top: -30px;
  position: relative;
  z-index: 99;
}